<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @virtual_domain.name %>
</p>

<%= link_to 'Edit', edit_virtual_domain_path(@virtual_domain) %> |
<%= link_to 'Back', virtual_domains_path %>
